*.obj
*.tlog
*.pch
*.res
*.tlb
*.idb
*.pdb

/DbgEngine/DbgEngine_i.c
/DbgEngine/DbgEngine_i.h
/DbgEngine/Debug/DbgEngine.lastbuildstate
/DbgEngine/Debug/DbgEngine.log
/DbgEngine/dbgengine_contract_i.c
/DbgEngine/dbgengine_contract_i.h
/DbgEngine/x64/Debug/DbgEngine.lastbuildstate
/DbgEngine/x64/Debug/DbgEngine.log
/Debug

/WinDbgTool.opensdf
/WinDbgTool.sdf
/WinDbgTool.v11.suo
/WinDbgUITest/Debug/WinDbgTool.Build.CppClean.log
/WinDbgUITest/Debug/WinDbgTool.lastbuildstate
/WinDbgUITest/Debug/WinDbgUITest.log
/WinDbgUITest/WinDbgUITest_i.c
/WinDbgUITest/WinDbgUITest_i.h
/ipch/dbgengine-88fb1b04/*.ipch
*.ipch
/x64/Debug

/WinDbgUITest/x64/Debug/WinDbgTool.lastbuildstate
/WinDbgUITest/x64/Debug/WinDbgUITest.log
/pldbgcmds/Debug/pldbgcmds.lastbuildstate
/pldbgcmds/Debug/pldbgcmds.log
/pldbgcmds/dlldata.c
/pldbgcmds/pldbgcmds_contract_i.c
/pldbgcmds/pldbgcmds_contract_i.h
/pldbgcmds/pldbgcmds_contract_p.c
/pldbgcmds/pldbgcmds_i.c
/pldbgcmds/pldbgcmds_i.h
/pldbgcmds/x64/Debug/pldbgcmds.lastbuildstate
/pldbgcmds/x64/Debug/pldbgcmds.log
/pldbgmcmds/Debug/pldbgmcmds.lastbuildstate
/pldbgmcmds/Debug/pldbgmcmds.log
/pldbgmcmds/pldbgmcmds_i.c
/pldbgmcmds/pldbgmcmds_i.h
/pldbgmcmds/x64/Debug/pldbgmcmds.lastbuildstate
/pldbgmcmds/x64/Debug/pldbgmcmds.log
/pldbgmview/Debug/pldbgmview.lastbuildstate
/pldbgmview/Debug/pldbgmview.log
/pldbgmview/pldbgmview_i.c
/pldbgmview/pldbgmview_i.h
/pldbgmview/x64/Debug/pldbgmview.lastbuildstate
/pldbgmview/x64/Debug/pldbgmview.log
/pldbgview/Debug/pldbgview.lastbuildstate
/pldbgview/Debug/pldbgview.log
/pldbgview/pldbgview_contract_i.c
/pldbgview/pldbgview_contract_i.h
/pldbgview/pldbgview_i.c
/pldbgview/pldbgview_i.h
/pldbgview/x64/Debug/pldbgview.lastbuildstate
/pldbgview/x64/Debug/pldbgview.log
/prebuildtool/Debug/prebuildtool.lastbuildstate
/prebuildtool/Debug/prebuildtool.log
/pldbgview/Debug/pldbgview.Build.CppClean.log
/prebuildtool/Debug/prebuildtool.Build.CppClean.log
/DbgEngine/Debug/DbgEngine.Build.CppClean.log
/WinDbgTool.v12.suo
/pldbgcmds/Debug/pldbgcmds.Build.CppClean.log
/pldbgmcmds/Debug/pldbgmcmds.Build.CppClean.log
/pldbgmview/Debug/pldbgmview.Build.CppClean.log
/pldbgview/*.aps

/DbgEngine/Release/DbgEngine.Build.CppClean.log
/DbgEngine/Release/DbgEngine.log
/Release/DebugFiles/ext/x64/ext.dll
/Release/DebugFiles/ext/x86/ext.dll
/WinDbgUITest/Release/RCa12872
/WinDbgUITest/Release/WinDbgTool.Build.CppClean.log
/WinDbgUITest/Release/WinDbgUITest.log
/pldbgcmds/Release/pldbgcmds.Build.CppClean.log
/pldbgcmds/Release/pldbgcmds.log
/pldbgcmds/pldbgcmds_p.c
/pldbgmcmds/Release/pldbgmcmds.Build.CppClean.log
/pldbgmcmds/Release/pldbgmcmds.log
/pldbgmview/Release/pldbgmview.Build.CppClean.log
/pldbgmview/Release/pldbgmview.log
/pldbgview/Release/pldbgview.Build.CppClean.log
/pldbgview/Release/pldbgview.log
/prebuildtool/Release/prebuildtool.Build.CppClean.log
/prebuildtool/Release/prebuildtool.log

/Release
/DbgEngine/DbgEngine_p.c
/pldbgview/pldbgview_contract_p.c
/x64/Release

/DbgEngine/x64/Release/DbgEngine.Build.CppClean.log
/DbgEngine/x64/Release/DbgEngine.log
/WinDbgUITest/WinDbgUITest.h
/WinDbgUITest/x64/Release/RCa16264
/WinDbgUITest/x64/Release/WinDbgTool.Build.CppClean.log
/WinDbgUITest/x64/Release/WinDbgUITest.log
/pldbgcmds/x64/Release/pldbgcmds.Build.CppClean.log
/pldbgcmds/x64/Release/pldbgcmds.log
/pldbgmcmds/x64/Release/pldbgmcmds.Build.CppClean.log
/pldbgmcmds/x64/Release/pldbgmcmds.log
/pldbgmview/dlldata.c
/pldbgmview/pldbgmview.aps
/pldbgmview/pldbgmview_p.c
/pldbgmview/x64/Release/pldbgmview.Build.CppClean.log
/pldbgmview/x64/Release/pldbgmview.log
/pldbgview/x64/Release/pldbgview.Build.CppClean.log
/pldbgview/x64/Release/pldbgview.log

/WinDbgUITest/x64/Release

/DbgEngine/Debug
/DbgEngine/Release

/DbgEngine/x64/Release
/WinDbgUITest/Debug
/WinDbgUITest/Release

*.nativecodeanalysis.all.xml
*.nativecodeanalysis.xml
*.codeanalysisast
*.codeanalysis

*.Build.CppClean.log
/WinDbgUITest/Host_i.c
/WinDbgUITest/Host_i.h
/WinDbgUITest/WinDbgUITest_p.c
/WinDbgUITest/dlldata.c
/WinDbgUITest/objmdl_contract_i.c
/WinDbgUITest/objmdl_contract_i.h
/WinDbgUITest/objmdl_contract_p.c
/WinDbgUITest/viewmdl_contract_i.c
/WinDbgUITest/viewmdl_contract_i.h
/WinDbgUITest/viewmdl_contract_p.c
/DbgEngine/objmdl_contract_i.c
/DbgEngine/objmdl_contract_i_p.c
/WinDbgUITest/objmdl_contract_i_p.c
/WinDbgUITest/viewmdl_contract_i_p.c
/pldbgcmds/dbgengine_contract_i.c
/pldbgcmds/dbgengine_contract_i_p.c
/pldbgcmds/objmdl_contract_i.c
/pldbgcmds/objmdl_contract_i_p.c
/pldbgmcmds/dbgengine_contract_i.c
/pldbgmcmds/dbgengine_contract_i_p.c
/pldbgmcmds/dlldata.c
/pldbgmcmds/objmdl_contract_i.c
/pldbgmcmds/objmdl_contract_i_p.c
/pldbgmcmds/pldbgcmds_contract_i.c
/pldbgmcmds/pldbgcmds_contract_i_p.c
/pldbgmview/dbgengine_contract_i.c
/pldbgmview/dbgengine_contract_i_p.c
/pldbgmview/objmdl_contract_i.c
/pldbgmview/objmdl_contract_i_p.c
/pldbgmview/pldbgcmds_contract_i.c
/pldbgmview/pldbgcmds_contract_i_p.c
/pldbgmview/pldbgview_contract_i.c
/pldbgmview/pldbgview_contract_i_p.c
/pldbgmview/viewmdl_contract_i.c
/pldbgmview/viewmdl_contract_i_p.c
/pldbgview/dbgengine_contract_i.c
/pldbgview/dbgengine_contract_i_p.c
/pldbgview/objmdl_contract_i.c
/pldbgview/objmdl_contract_i_p.c
/pldbgview/pldbgcmds_contract_i.c
/pldbgview/pldbgview_p.c
/pldbgview/viewmdl_contract_i.c
/pldbgview/viewmdl_contract_i_p.c
/DbgEngine/objmdl_contract_i.h
/WinDbgUITest/WinDbgUITest.aps
/pldbgcmds/dbgengine_contract_i.h
/pldbgcmds/objmdl_contract_i.h
/pldbgmcmds/dbgengine_contract_i.h
/pldbgmcmds/objmdl_contract_i.h
/pldbgmcmds/pldbgcmds_contract_i.h
/pldbgmview/dbgengine_contract_i.h
/pldbgmview/objmdl_contract_i.h
/pldbgmview/pldbgcmds_contract_i.h
/pldbgmview/pldbgview_contract_i.h
/pldbgmview/viewmdl_contract_i.h
/pldbgview/dbgengine_contract_i.h
/pldbgview/objmdl_contract_i.h
/pldbgview/pldbgcmds_contract_i.h
/pldbgview/viewmdl_contract_i.h
/.vs/WinDbgTool/v14/*.suo
